.fadein-left {
  animation: fadeInLeft var(--animation-duration-mid) ease-out;
}
.fadein-right {
  animation: fadeInRight var(--animation-duration-mid) ease-out;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    opacity: 1;
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    opacity: 1;
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

